<h1>Editing client</h1>

<% form_for([:admin, @client]) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Visualizar', admin_client_path(@client) %> |
<%= link_to 'Voltar', admin_clients_path %>
