<h1>Editando usuário</h1>

<% form_for([:admin, @account]) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'Visualizar', admin_account_path(@account) %> |
<%= link_to 'Voltar', admin_accounts_path %>
