<% form_remote_for TechnicalsEquipment.find(@technicals_equipment.id), :url => "/admin/equipments/technical_remote_update/#{@technicals_equipment.id}" do |technical| %>
	<%= technical.hidden_field :equipment_id %>
	
	<%= render :partial => '/admin/technicals_equipments/form', :locals => {:f => technical} %>
	
	<p>
		<%= technical.submit 'Salvar' %>
	</p>
<% end %>
