<h1>Editando técnico</h1>

<% form_for([:admin, @technical]) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'Visualizar', admin_technical_path(@technical) %> |
<%= link_to 'Voltar', admin_technicals_path %>
