<h1>Editando endereço dos clientes</h1>

<% form_for([:admin, @client_address]) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
	
	<p>
		<%= f.submit 'Salvar' %>
	</p>
<% end %>

<%= link_to 'Visualizar', admin_client_address_path(@client_address) %> |
<%= link_to 'Voltar', admin_client_addresses_path %>
