<ul>
	<li><%= link_to "Clientes", admin_clients_path %></li>
	<li><%= link_to "Categorias de produtos", admin_product_categories_path %></li>
	<li><%= link_to "Produtos", admin_products_path %></li>
	<li><%= link_to "Técnicos", admin_technicals_path %></li>
</ul>
