<h1>Editing account_department</h1>

<% form_for([:admin, @account_department]) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'Visualizar', admin_account_department_path(@account_department) %> |
<%= link_to 'Voltar', admin_account_departments_path %>
