<% form_remote_for client_address, :url => "/admin/clients/address_remote_update/#{client_address.id}" do |address| %>
	<%= address.hidden_field :client_id %>
	<%= render :partial => '/admin/client_addresses/form', :locals => {:f => address} %>
	<p>
		<%= address.submit 'Salvar' %>
	</p>
<% end %>
