<ul id="address_<%= address.id %>" class='show_address'>
	<li class='title_address'><%= address.title %></li>
	<li class='edit_address'>
		<%= link_to 'Editar', 'javascript: void(0)', :class => 'edit_address', :id_address => address.id %>
	</li>
	<li class='destroy_address'>
		<%= link_to 'Excluir', 'javascript: void(0)', :class => 'destroy_address', :id_address => address.id %>
	</li>
</ul>
<div class='clear'><!-- --></div>
