<h1>Editando equipamentos dos tecnicos</h1>

<% form_for([:admin, @technicals_equipment]) do |f| %>

	<%= render :partial => "form", :locals => { :f => f } %>
	
	<p>
		<%= f.submit 'Salvar' %>
	</p>
<% end %>

<%= link_to 'Visualizar', admin_technicals_equipment_path(@technicals_equipment) %> |
<%= link_to 'Voltar', admin_technicals_equipments_path %>
