<h1>New technicals_equipment</h1>

<% form_for([:admin, @technicals_equipment]) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'Voltar', admin_technicals_equipments_path %>
