<h1>Editing product</h1>

<% form_for([:admin, @product]) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Visualizar', admin_product_path(@product) %> |
<%= link_to 'Voltar', admin_products_path %>
