<h1>Editing order_category</h1>

<% form_for([:admin, @order_category]) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'Visualizar', admin_order_category_path(@order_category) %> |
<%= link_to 'Voltar', admin_order_categories_path %>
