<h1>Editing technocal_client_address</h1>

<% form_for([:admin, @technocal_client_address]) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'Visualizar', admin_technocal_client_address_path(@technocal_client_address) %> |
<%= link_to 'Voltar', admin_technocal_client_addresses_path %>
