<h1>Editing product_category</h1>

<% form_for([:admin, @product_category]) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>

<%= link_to 'Visualizar', admin_product_category_path(@product_category) %> |
<%= link_to 'Voltar', admin_product_categories_path %>
