<p>
  <b>Nome:</b>
  <%=h @product_category.name %>
</p>

<p>
  <b>Descrição:</b>
  <%=h @product_category.description %>
</p>


<%= link_to 'Edit', edit_admin_product_category_path(@product_category) %> |
<%= link_to 'Voltar', admin_product_categories_path %>
